---
import { getCollection } from 'astro:content';
import Layout from '@/components/layout/Layout.astro';
import PostCard from '@/components/posts/PostCard.astro';

const posts = (await getCollection('posts')).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout title='All posts'>
  <h1 class='text-2xl mt-8'>All posts</h1>
  <section class='grid gap-4'>
    {
      posts.map((post) => (
        <article class='grid gap-4'>
          <PostCard
            publishedAt={post.data.publishedAt}
            title={post.data.title}
            description={post.data.description}
            slug={post.slug}
            tags={post.data.tags}
          />
        </article>
      ))
    }
  </section>
</Layout>
