---
import { getCollection } from 'astro:content';

import Layout from '@/components/layout/Layout.astro';
import SocialLinks from '@/components/SocialLinks.astro';
import PostCard from '@/components/posts/PostCard.astro';
import Link from '@/components/ui/Link.astro';
import convertAsteriskToStrongTag from '@/utils/convertAsteriskToStrongTag';

const posts = (
  await getCollection('posts', ({ data }) => {
    return import.meta.env.PROD ? data.isDraft !== true : true;
  })
).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
const { remarkPluginFrontmatter } = await posts?.[0]?.render();
const readingTime = Math.round(remarkPluginFrontmatter?.estReadingTime);
---

<Layout>
  <article class='py-20 md:py-40 mt-8'>
    <div class='grid gap-8 m-auto max-w-fit'>
      <h1
        transition:name='title'
        class='text-2xl sm:text-4xl leading-normal font-extrabold max-w-[25ch] prose'
      >
        <Link
          isBold
          href={`/posts/${posts?.[0]?.slug}`}
          label={posts?.[0]?.data?.title}
        />
      </h1>
      <div class='grid gap-2'>
        <h2
          class='w-auto max-w-[60ch] leading-6'
          set:html={convertAsteriskToStrongTag(posts?.[0]?.data?.description)}
        />
        <h3 class='text-xs text-muted-foreground uppercase'>
          {
            `${readingTime} min read • ${posts?.[0]?.data?.publishedAt
              .toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
              })
              .toLowerCase()}`
          }
        </h3>
      </div>
    </div>
  </article>
  <section class='grid border-t border-foreground'>
    <h1 class='text-lg py-8'>Latest posts</h1>
    {
      posts.length === 0 ? (
        <p>Soon, stay connected 👀...</p>
      ) : (
        <article class='grid gap-4'>
          {posts.length !== 0 &&
            posts
              .slice(0, 10)
              .map((post) => (
                <PostCard
                  publishedAt={post.data.publishedAt}
                  title={post.data.title}
                  description={post.data.description}
                  slug={post.slug}
                  tags={post.data.tags}
                />
              ))}
        </article>
      )
    }
  </section>
  <section class='grid border-t border-foreground'>
    <h1 class='text-lg py-8'>Get in touch</h1>
    <SocialLinks />
  </section>
</Layout>
